.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
  }
  
  .authentication form {
    margin-bottom: 1rem;
  }
  /* #login_signup{
    background:black;
    font-family: inherit;
    border:none ;
    height: 42px;
    width: 30%;
    color: white;
    font-size: 16px;
    font-weight: bold;
  } */
  .login_signup {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .login_signup:focus {
    outline: none;
  }
  
  .login_signup:hover,
  .login_signup:active {
    background: #ff4382;
    border-color: #ff4382;
  }
  
  .login_signup--inverse {
    background: transparent;
    color: #ff0055;
  }
  
  .login_signup--inverse:hover,
  .login_signup--inverse:active {
    color: white;
    background: #ff0055;
  }
  
  .login_signup--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .login_signup--danger:hover,
  .login_signup--danger:active {
    background: #f34343;
    border-color: #f34343;
  }
  
  .login_signup:disabled,
  .login_signup:hover:disabled,
  .login_signup:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .login_signup--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }