.main-body{
    text-align: center;
    padding-top: 10vh;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .text1{
    color:rgb(200,200,200);
    font-size: 170%;
    letter-spacing: 3PX;
    font-weight: 700;
    animation: text 3s 1;
  }
  .text2{
    color: rgb(200,200,200);
    font-size: 170%;
    letter-spacing: 4PX;
    line-height: 37PX;
    font-weight: 700;
    padding-bottom: 77px;
  }
  #instructor{
    display: block;
    margin-bottom: 20px;
    width:56%;
    height: 6vh;
    margin-left: 21%;
    background-color:white;
    border: none;
    font-weight: bold;
    font-family: inherit;
    font-size: 16%;
  }
  #student{
    display: block;
  }
  
  @keyframes text{
    0%{
      color: black;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 20px;
    }
    
  }
  
  