
.main-body{
  text-align: center;
  padding-top: 29vh;
  padding-left: 3%;
  padding-right: 3%;
}

.text1{
  color:rgb(200,200,200);
  font-size: 170%;
  letter-spacing: 3PX;
  font-weight: 700;
  animation: text 3s 1;
}
.text2{
  color: rgb(200,200,200);
  font-size: 170%;
  letter-spacing: 4PX;
  line-height: 37PX;
  font-weight: 700;
  animation: text 3s 1;
}

@keyframes text{
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 20px;
    /* margin-bottom: -40px; */
  }
  85%{
    letter-spacing: 8px;
  }
}

