.main-body span{
  color: white;
  text-transform: uppercase;
  display: block;
}
.main-body{
  text-align: center;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
}

.text1{
  color: white;
  font-size: 120%;
}

