.main-body span{
  color: white;
  text-transform: uppercase;
  display: block;
}
.main-body{
  text-align: center;
  padding-top: 33vh;
  padding-left: 3%;
}

span{
  color: grey;
  font-size: 120%;
  letter-spacing: 3PX;
  font-weight: 700;
}
p{
  color: grey;
  font-size: 150%;
  letter-spacing: 4PX;
  line-height: 37PX;
  font-weight: 700;
}

