.main-body span{
  color: white;
  text-transform: uppercase;
  display: block;
}
.main-body{
  text-align: center;
  padding-top: 31vh;
  padding-left: 3%;
}

.text1{
  color:rgb(200,200,200);
  font-size: 170%;
  letter-spacing: 3PX;
  font-weight: 700;
}
.text2{
  color: rgb(200,200,200);
  font-size: 170%;
  letter-spacing: 4PX;
  line-height: 37PX;
  font-weight: 700;
}

