.main-body span{
  color: white;
  text-transform: uppercase;
  display: block;
}
.main-body{
  text-align: center;
  position: absolute;
  top: 40%;
  left:40%;
  transform: translate(-50%,-50%);
}

span{
  color: white;
  font-size: 120%;
  letter-spacing: 3PX;
}
p{
  color: white;
  font-size: 130%;
  letter-spacing: 3PX;
}

