.add_task {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .add_task:focus {
    outline: none;
  }
  
  .add_task:hover,
  .add_task:active {
    background: #ff4382;
    border-color: #ff4382;
  }

  .add_task_btn{
      margin-left: 5%;
  }