.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  
  .nav-links li {
    margin-left: 2%;
    
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active {
    background: black;
    border-color: #292929;
    color: white;
  }
  
  /* .nav-links button {
    cursor: pointer;
    color: #292929;
    background: transparent;
    padding: 0.5rem;
    font: inherit;
  } */
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    color: black;
  }
  #logout{
    background: white;
    font: inherit;
  }
  