.main-body{
    text-align: center;
    padding-top: 10vh;
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .text1{
    color:rgb(200,200,200);
    font-size: 170%;
    letter-spacing: 3PX;
    font-weight: 700;
    animation: text 3s 1;
  }
  .text2{
    color: rgb(200,200,200);
    font-size: 170%;
    letter-spacing: 4PX;
    line-height: 37PX;
    font-weight: 700;
    padding-bottom: 68px;
  }
  #instructor{
    display: block;
    margin-bottom: 20px;
    width:56%;
    height: 6vh;
    margin-left: 21%;
    background-color:#ff0055;
    border: none;
    font-weight: bold;
    font-family: inherit;
    font-size: 100%;
    border-radius: 4px;
    color: white;
  }
  #student{
    display: block;
    margin-bottom: 20px;
    width:56%;
    height: 6vh;
    margin-left: 21%;
    background-color:#ff0055;
    border: none;
    font-weight: bold;
    font-family: inherit;
    font-size: 100%;
    border-radius: 4px;
    color: white;
  }
  #instructor:hover{
    background-color:#ff0055;
    color:black;
    border-color: black;
  }
  #student:hover{
    background-color:#ff0055;
    color:black;
    border-color: black;
  }
  form{
    border: none;
  }
  
  @keyframes text{
    0%{
      color: black;
      margin-bottom: -40px;
    }
    30%{
      letter-spacing: 20px;
    }
    
  }
  
  